@model WebUI.Models.CartVM

@{
    ViewData["Title"] = "AddToCart";
}

<h2>Hello @ViewBag.Customer.FirstName</h2>
<hr />
<br>
<h3>Product Details</h3>
<h4>Store: @ViewBag.Location.Name</h4>
<h4>Name: @ViewBag.Product.Name</h4>
<h4>Price: @ViewBag.Product.Price</h4>
<h4>stock left @ViewBag.Inventory.Quantity</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToCart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
                <br>
                <p>
                    @ViewBag.Message
                </p>
            </div>
            <input type="hidden" asp-for="LocationId" value=@ViewBag.Location.Id/>
            <input type="hidden" asp-for="CustomerId" value=@ViewBag.Customer.Id/>
            <input type="hidden" asp-for="InventoryId" value=@ViewBag.Inventory.Id/>
            <input type="hidden" asp-for="ProductId" value=@ViewBag.Product.Id/>
            <input type="hidden" asp-for="Name" value=@ViewBag.Product.Name/>
            <input type="hidden" asp-for="Price" value=@ViewBag.Product.Price/>
            
            <div class="form-group">
                <input type="submit" value="Add to Cart" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Cancel", "SelectProduct", "Order", new { customerId = ViewBag.Customer.Id, locationId = ViewBag.Location.Id})
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
