@model IEnumerable<WebUI.Models.CartVM>
@{
    ViewData["Title"] = "Checkout";
    var customer = @ViewBag.Customer;
}

<h2>Hello @customer.FirstName</h2>
<hr />
<br>
<h3>Cart Details</h3>
<h5>Total : @ViewData["Total"]</h5>

<div class="text-right">
    <p>
        @Html.ActionLink("Continue Shopping", "SelectProduct", "Order", new { customerId = ViewBag.Customer.Id, locationId = ViewBag.Location.Id})
    </p>
    <br>
    <p>
        @ViewBag.Message
    </p>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                @* Show location here *@
                <th>
                    @* @Html.DisplayNameFor(model => model.Location.Name) *@
                    Location
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Order", new { id = item.Id }) |
                    @Html.ActionLink("Remove", "Delete", "Order", new { id = item.Id })
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<br>
<div>
    @Html.ActionLink("Place the order", "Main", "Order", new { customerId = ViewBag.Customer.Id, locationId = ViewBag.Location.Id})
</div>

<br>
<div>
    @Html.ActionLink("Back to Main", "Main", "Customer", new { customerId = ViewBag.Customer.Id, locationId = ViewBag.Location.Id})
</div>