@model IEnumerable<WebUI.Models.InventoryVM>
@{
    ViewData["Title"] = "SelectProduct";
}

<h2>Hello @ViewBag.Customer.FirstName</h2>
<h4>Your Store: @ViewBag.Location.Name</h4>
<hr />
<br>
<h3>Select BBT you want to order</h3>

<div class="text-right">
    <p>
        @Html.ActionLink("View Cart", "Checkout", "Order", new { locationId = ViewBag.Location.Id, customerId = ViewBag.Customer.Id, message = ""})
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td> *@
            <td>
                @Html.ActionLink("Select", "AddToCart", "Order", new {customerId = ViewBag.Customer.Id, 
                                                                    locationId = ViewBag.Location.Id, 
                                                                    inventoryId = item.Id,
                                                                    productId = item.Product.Id
                                                                    })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to Main", "Main", "Customer", new { customerId = ViewBag.Customer.Id})
</div>