@model IEnumerable<WebUI.Models.ProductVM>
@{
    ViewData["Title"] = "UnclaimedList";
}

<h2>Branch: @ViewBag.Location.Name </h2>
<h4>Address: @ViewBag.Location.Address</h4>
<hr />
<br>
<h3>List of Products</h3>

<p>
    &#128269;Can't find the Product. &#128073;
    @Html.ActionLink("Create new one", "Create", new {  locationId = ViewBag.Location.Id })
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Add Inventory", "Create", "Inventory", new { locationId = ViewBag.Location.Id, productId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to Main", "Main", "Location", new { locationId = ViewBag.Location.Id})
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}