@model IEnumerable<WebUI.Models.InventoryVM>
@{
    ViewData["Title"] = "ReplenishList";
}

<h2>Branch: @ViewBag.Location.Name </h2>
<h4>Address: @ViewBag.Location.Address</h4>
<hr />
<br>
<h3>List of Inventories</h3>

<p>
    &#128269;Can't find the Inventory. &#128073;
    @Html.ActionLink("Add New One", "UnclaimedList", "Product", new { locationId = ViewBag.Location.Id})
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit Inventory", "Edit", "Inventory", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to Main", "Option", "Location", new { locationId = ViewBag.Location.Id})
</div>